
#switch-wrapper{
  display: flex;
  position: relative; 
  align-items:center;
  justify-content: space-between;
  

}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    
    position: absolute;
    cursor: pointer;
    top: 12%;
    left: 20%;
    right: 20%;
    bottom: 12%;
    background-color: rgb(155, 52, 52);
    -webkit-transition: .4s;
    transition: .4s;
    border: solid;
    max-width: 40px;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    bottom:-4%;
    left:-4px;
    border: solid;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

input:checked + .slider {
    background-color: #2196F3;
  }
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

input:checked + .slider:before {
    transform: translateX(110%);
  }
  
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }