#main {
  border-radius: 0.5em;
  font-size: 2vh;
  position: relative;
}

#text {
  margin-top: 1vh !important;
  padding-top: 4vh;
  padding-bottom: 2vh;
  text-align: center;
}

#text strong{
  font-weight: 600;
}
hr {
  border-color: white;
  border-width: 1.55px;
}

#swap {
  float: left;
}

#flip {
  background-color: transparent;
  border-color: transparent;
}

#flip {
  padding: 0rem 2rem;
  transition: all 0.3s;
  cursor: pointer;
}

#flip:active {
  transform: scale(0.65);
}