.address-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.6);
  z-index: 5;
}

.address-wrapper {
  position: relative;
  width: 80%;
  left: 10%;
  height: auto;
}

.z-index-6 {
    z-index: 6;
}

.address-header-title {
  display: flex;
  height: 27px;
  margin: 0 auto;
  background-color: #e7e7e7;
  border-radius: 40px;
  font-family: Sen;
}

.address-header-title input,
input:focus {
  width: 100%;
  margin-left: 5px;
  font-size: 14px;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-user-select: text;
  user-select: text;
}

.address-suggestions {
  width: 80%;
  position: fixed;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background: #e7e7e7;
  border-radius: 18px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 20;
}

.address-suggestions-item {
  background-color: #e7e7e7;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 3px;
}

.address-suggestions-main {
  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.address-suggestions-secondary {
  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: black;
  padding-bottom: 3px;
}

.address-line {
  width: 100%;
  height: 0;
  border: 1px solid #858585;
  background-color: #858585;
}

.address-text-body {
  padding: 5px 10px;
}

.address-search-icon {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  width: auto;
}

/* grey everything when focus */

.greyed {
  color: #383840;
}

/* position the star accordingly */

.address-search-icon-star {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  width: auto;
  transition: all 0.1s;
  cursor: pointer;
}

.address-search-icon-star:active {
  transform: scale(0.65);
}


@keyframes turnR {
  0% {
    transform: rotate(0deg);
    transform-origin: 58% 50%;
  }

  100% {
    transform: rotate(720deg);
    transform-origin: 58% 50%;
  }
}

/* animation for the star to turn */

@keyframes turnL {
  0% {
    transform: rotate(0deg);
    transform-origin: 58% 50%;
  }

  100% {
    transform: rotate(-720deg);
    transform-origin: 58% 50%;
  }
}

/* animation for the bookmark icon to bounce when adding a bookmark */

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-8px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* animation for the bookmark icon to shake when deleting */

@keyframes shake {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-7deg);
  }
  80%{
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

