#daily {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

p {
  position: relative;
}

.dailyWrapper #clothes {
    padding: 0;
    margin: 0;
    width: 0;
    /* transition: all 1s; */
}


.dailyWrapper {
    /* width: unset; */
    width: min-content;
    flex-shrink: 0;
    /* width: auto; */
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa33;
    border-radius: 0.5em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    margin: 0 5px;
    /* transition: all 1s ease-in-out; */
    scroll-snap-align: start;
}

.dailyWrapper .dailySuggestions > *{
    height: unset;
    padding: 0;
    /* transition: all 1s ease-in-out; */
}

.dailyWrapper .dailySuggestions .row > *{
    padding: 0;
    /* transition: all 1s ease-in-out; */
}

.dailyWrapper .card {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: unset !important;
    width: 0;
    scroll-snap-align: unset;
    /* transition: all 1s ease-in-out; */
}

.dailyWrapper .dailySuggestions {
    font-size: 0;
    flex-grow: 1;
    justify-content: center;
    padding: 0;
    opacity: 0;
    display: flex;
    flex-direction: column; 
    /* transition:  1s ease-in-out; */
    /* transition: font-size 0.1s; */
}

.dailyWrapper .dailySuggestions {
    width: unset;
    /* transition: all 1s ease-in-out; */
}

.dailyWrapper #clothes.container {
    /* transition: all 1s; */
}

.dailyWrapper #clothes .col-6 p {
    font-size: 0.66em;
}

.dailyWrapper.expand {
    flex-shrink: 0;
    width: 75%;
}

 @media screen and (min-width: 500px) {
    .dailyWrapper.expand {
        flex-shrink: 0;
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .dailyWrapper.expand {
        flex-shrink: 0;
        width: 33%;
    }
}  

.dailyWrapper.expand .dailySuggestions {
    font-size: inherit;
    opacity: 1;
    padding: unset;
}

.dailyWrapper.expand #clothes {
    width: 100%;
}

.dailyWrapper:last-child {
    visibility: hidden;
}
