#clothes{
    margin-top: 2vh !important;
    background-color: #f8f9fa33;
    border-radius: 5%;
}
#clothesHead{
    font-size: 2vh;
    margin-top: 5vh;
}
#clothes .col-6{
    padding: 3vh 2vh 3vh 2vh;
    
    
}
#clothes .col-6 p{
    font-size: 3vh;
}