#settingslist {
  width: 80%;
  position: fixed;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background: rgb(250, 250, 250);
  border-radius: 18px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#settings-colour {
  margin-bottom: 30px;
}

.custom_switches {
  margin-bottom: 20px;
}

.settings-suggestions-black {
  background: #080808 !important;
}
.item-white {
  color: white;
}

.item-white span {
  color: black;
}

.settings-header {
  font-size: 30px;
  margin-bottom: 20px;
}

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.6);
}

.Settings-List {
  margin: 0;
  padding-bottom: 0;
  list-style-type: none;
}

.test12 {
  position: absolute;
  left: 43%;
}

.switchContainerA,
.switchContainerB {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: block;
  width: 96px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

label {
  margin: 0px 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 5px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
}

.on {
  display: none;
}

.on,
.off {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
}

.on {
  transform: translate(-70%, -50%);
}

.off {
  transform: translate(-20%, -50%);
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/* Colour of the toggle circle */

.switchContainerB input + .slider.round.b:before {
  background-color: rgb(53, 248, 53);
}

.switchContainerB input:checked + .slider.round.b:before {
  background-color: rgb(255, 0, 255);
}

input + .slider.round:before {
  background-color: white;
}

input:checked + .slider.round:before {
  background-color: black;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

span {
  color: white;
}

.feedback {
  margin-top: 20px;
}
