.settings-suggestions {
    width: 80%;
    position: fixed;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: #E7E7E7;
    border-radius: 18px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.settings-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(196,196,196,0.6);
    z-index: 10;
}
.Settings-List{
    margin: 0;
    padding: 0;
    list-style-type: none;
}



